/* You can add global styles to this file, and also import other style files */
html,
body {
  background-image: url('/vintage-wallpaper.png');
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
